.mat-toolbar.mat-primary{
    background: black;
    color: #fff;
}
.spacer {
    flex: 1 1 auto;
  }
  
a{
    color:white;
}

a:hover{
    cursor:pointer;
    color: rgb(67, 173, 223);
}

.white-icon{
    color: white;
}

.mat-stroked-button.mat-primary{
    color: rgb(94, 223, 255);
    border-color: rgb(94, 223, 255);
    border-radius: 20px;
}

button.mat-menu-item{
    background-color: black;
    color: white;
}
  
button.mat-menu-item:hover {
    background-color: rgb(182, 182, 182);
}

button.mat-icon-button{
    margin-right: 5%;
}

.menu-panel {
    background-color:black;
    margin: -8px 0; 
    padding: 8px 0;
  }

.languageEn{
    margin-right:0.5%;
}

.languageFr{
    margin-right:3%;
    margin-left:0.5%;
}