<mat-toolbar color="primary">
    <h2>
        Computer-database
    </h2>
    <div>
    <span class="spacer"></span>
    <div class="languageEn">
        <img src="../../assets/img/englishFlag.png" (click)="translate.use('en')">
    </div>
    |
    <div class="languageFr">
        <img src="../../assets/img/frenchFlag.png" (click)="translate.use('fr')">
    </div>

    <button *ngIf="!hidden" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        {{'HEADER.USER' | translate }}
        welcome {{getUsername()}}
    </button>
    </div>
    <mat-menu #menu="matMenu">
        <div class="menu-panel">
            <button mat-menu-item>
                <mat-icon class="white-icon">settings</mat-icon>
                <span> {{'HEADER.PROFILE' | translate }}</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="white-icon">exit_to_app</mat-icon>
                <span (click)="logout()">{{'HEADER.LOGOUT' | translate }}</span>
            </button>
        </div>
    </mat-menu>
</mat-toolbar>