<div class="multi_ar">
  <div>
    <h2>
      {{computerNumber}} computers found  
      <mat-icon *ngIf="!edited" (click)="edited=!edited">search</mat-icon>
      <mat-icon *ngIf="edited" (click)="search()" >close</mat-icon>
      <input *ngIf="edited" type="text" placeholder="Search &amp; enter" (keydown)="onKeydownSearch($event)">
      <button mat-raised-button (click)="openAddDialog()">Add</button>
      <button mat-stroked-button (click)="deleteMode()">Delete Mode</button>
      <mat-icon *ngIf="modeDelete" (click)="openDeleteDialog(element)" class="iconDelete"> delete </mat-icon> 
      <mat-icon *ngIf="modeDelete" (click)="allChecked()" (click)="deleteAll(computers)" class="iconDelete">playlist_add_check</mat-icon>
    </h2>
  </div>
</div>

<table mat-table [dataSource]="computers" matSort (matSortChange)="sortData($event)"  class="formComputers">

  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
    <td class="name" mat-cell *matCellDef="let element"> 
      <mat-checkbox [checked]="checked" *ngIf="modeDelete" class="checkbox" (click)="addDelete(element)" color="primary"></mat-checkbox>
      <text (click)="openUpdateDialog(element)"> {{element.computerName}}  </text>
    </td>
  </ng-container>

  <ng-container matColumnDef="introduced">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Introduced </th>
    <td mat-cell *matCellDef="let element"> {{element.introduced}} </td>
  </ng-container>

  <ng-container matColumnDef="discontinued">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Discontinued </th>
    <td mat-cell *matCellDef="let element"> {{element.discontinued}} </td>
  </ng-container>

  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
    <td mat-cell *matCellDef="let element"> <div *ngIf="element.companyDTO">{{element.companyDTO.companyName}} </div></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-pagination class="pagination" [dashboard]=dashboard (changeComputerNumber)="changeComputerNumber($event)" (changePageEvent)="changePageEvent()"></app-pagination>
