<div class="multi_ar">
  <div>
    <h2>
      Computers found  
      <img src="assets/img/search.png" (click)="edited=!edited">
      <input *ngIf="edited" type="text" placeholder="Search &amp; enter">
    </h2>
  </div>

  <div class="right">
    <button mat-raised-button routerLink="/addComputer" class="button">Add</button>
  </div>

</div>

<table mat-table [dataSource]="computers" class="formComputers">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.computerName}} </td>
  </ng-container>

  <ng-container matColumnDef="introduced">
    <th mat-header-cell *matHeaderCellDef> Introduced </th>
    <td mat-cell *matCellDef="let element"> {{element.introduced}} </td>
  </ng-container>

  <ng-container matColumnDef="discontinued">
    <th mat-header-cell *matHeaderCellDef> Discontinued </th>
    <td mat-cell *matCellDef="let element"> {{element.discontinued}} </td>
  </ng-container>

  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef> CompanyName </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.companyDTO">{{element.companyDTO.companyName}} </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-pagination class="pagination" [dashboard]=dashboard></app-pagination>
