<form [formGroup]="editForm"  (ngSubmit)="onSubmit()">

<label>
  First Name:
  <input name="computerName" type="text" formControlName="computerName" required>
</label>
<br>
<label>
  the date the computer has been introduced:
  <input name="introduced" type="date" formControlName="introduced">
</label>
<br>
<label>
  the date the computer has been discontinued:
  <input name="discontinued" type="date" formControlName="discontinued">
</label>
<br>
<mat-form-field appearance="fill">
  <mat-label>Company</mat-label>
  
  <mat-select name="computer.companyDTO.companyId" matInput [(ngModel)]="computer.companyDTO" formControlName="companyDTO" >
    <div>
      <mat-option *ngIf="editedComputer.companyDTO" [value]=editedComputer.companyDTO>
        {{editedComputer.companyDTO.companyName}} 
      </mat-option>
      <mat-option [value]="null">no company</mat-option>
      <mat-option *ngFor="let c of companies" [value]="c">
        {{c.companyName}}
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>
  <br>
<button type="submit" [disabled]="!editForm.valid">Update Computer</button>

</form> 