.button-row {
  position: relative;;
  top : -150px;
}

table{
  width:100%;
}

.right {
  float:right;
  position:relative;
  top:-150px;
  left:-15%;
  
}

.button-row, .mat-button-base, .linesNb { 
  border-radius: 20px;
}

.mat-raised-button.mat-primary{
  background-color: rgb(67, 173, 223);
  color:white;
  margin-bottom: 2%;
  border-radius: 20px;
}

.mat-raised-button.mat-warn{
  background-color: rgba(14, 2, 80, 0.849);
  color:white;
  margin-bottom: 2%;
  border-radius: 20px;
}

.mat-stroked-button{
  background-color: rgb(201, 195, 195);
  }

