.button-row {
  margin:auto;
  margin-left:31%;
}

.right {
  float:right;
  margin-right: 15%;
  position:relative;
  top: -30px;
  
}

.button-row, .mat-button-base, .linesNb { 
  border-radius: 20px;
  position:relative;
  top:-90px;
}

.mat-raised-button.mat-primary{
  background-color: rgb(67, 173, 223);
  color:white;
  margin-bottom: 2%;
  border-radius: 20px;
}

.mat-raised-button.mat-warn{
  background-color: rgba(14, 2, 80, 0.849);
  color:white;
  margin-bottom: 2%;
  border-radius: 20px;
}


