@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    background-image: linear-gradient(rgba(216, 213, 213, 0.521),white);
    margin: 0;
    padding: 0;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
