@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/scss/bootstrap';
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(192, 189, 189),white);
    min-height:100vh;
}

