<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Computer</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm">
        <div>
          <mat-form-field>
            <mat-label>Computer Name</mat-label>
            <input matInput name="computerName" type="text" formControlName="computerName" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Intoduced Date</mat-label>
            <input matInput name="introduced" type="date" formControlName="introduced">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Discontinued Date</mat-label>
            <input matInput name="discontinued" type="date" formControlName="discontinued">
          </mat-form-field>
          <h3>{{addForm.errors?.date}}</h3>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Company</mat-label>
            <mat-select name="computer.companyDTO.companyId" [(ngModel)]="computer.companyDTO" formControlName="companyDTO">
                <mat-option [value]="">-No company-</mat-option>
                <mat-option *ngFor="let c of companies" [value]="c">
                  {{c.companyName}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <p>* Field mandatory</p>

        <div class="modal-footer">
          <button mat-button [disabled]="!addForm.valid" (click)="onSubmit()" color="primary">Add</button>
          <button mat-button (click)="onNoClick()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>