<form [formGroup]="addForm"  (ngSubmit)="onSubmit()">

    <label>
      Computer Name:
      <input name="computerName" type="text" formControlName="computerName" required>
    </label>
    <br>
    <label>
      Date when the computer has been introduced:
      <input name="introduced" type="date" formControlName="introduced">
    </label>
    <br>
    <label>
      Date when the computer has been discontinued:
      <input name="discontinued" type="date" formControlName="discontinued">
    </label>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      
      <mat-select name="computer.companyDTO.companyId" [(ngModel)]="computer.companyDTO" formControlName="companyDTO" >
        <div>
          <mat-option *ngIf="addedComputer.companyDTO" [value]=addedComputer.companyDTO>
            {{addedComputer.companyDTO.companyName}} 
          </mat-option>
          <mat-option [value]="null">no company</mat-option>
          <mat-option *ngFor="let c of companies" [value]="c">
            {{c.companyName}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
      <br>
    <button type="submit" [disabled]="!addForm.valid">Update Computer</button>
    
    </form> 