<h1> New Computer ! </h1>
<p>
    <mat-form-field appearance="fill">
        <label>Name</label>
        <input matInput [(ngModel)]="computer.computerName">
    </mat-form-field>
</p>

<p>
    <mat-form-field appearance="fill">
        <label>Introduced Date</label>
        <input matInput [(ngModel)]="computer.introduced">
    </mat-form-field>
</p>

<p>
    <mat-form-field appearance="fill">
        <label>Discontinued Date</label>
        <input matInput [(ngModel)]="computer.discontinued">
    </mat-form-field>
</p>

<form>
    <mat-form-field appearance="fill">
        <label>Company</label>
        <mat-select [(ngModel)]="computer.companyDTO.companyId" name="company">
            <mat-option *ngFor="let company of companies" [value]="company.companyId">
                {{company.companyName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<p>
    <button mat-raised-button color="primary" (click)="addComputer()">Add</button>
    <button mat-raised-button routerLink="/computers">Cancel</button>
</p>